<html>
<head>
    <title>AECOM Parking Admin</title>
    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
<style>
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
.hcenter {
  margin: auto;
  width: 60%;
  
  padding: 10px;
}
.sb {
  margin: auto;
  width: 60%;
  text-align: center; 
  padding: 50px;
}

</style>
</head>
<body>
  <span hidden id="incom"><%=request%></span>
  <span hidden id="days"><%=days%></span>
    <h1 class="hcenter">Bookings Dashboard</h1>
    <br>


<div class = 'center'>
  <%for (let i=0; i<12; i++){ %>
<ul class="list-group" id = "title<%=i%>"></ul>
 
<%}%>
  </div>
    <form action = "/admin-update" method ="post">
<input type="hidden" id="data" name="data" value="nochange"> </input>

<div class= 'sb'>
  <button type ="submit" id = "button"  class="book-button btn btn-success">Update</button>
  </form>

  </div>
    <script src= "/js/admin.js" charset="utf-8" type='text/javascript' ></script>
</body>
</html>

