</div>
     
      <footer><p class="text-muted">&copy; Digital AECOM</p></footer>
    </div>
     <h1 id="booked" hidden> <%= bookings %></h1>
     <h2 id="space" hidden><%= space %></h2>
  </body>
</html>
